* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jiyan {
  padding: 11px;
  background-color: #fff;
  user-select: none;
}

#container,
#code {
  width: 260px;
  height: 160px;
}

#code {
  z-index: 9;
  position: fixed;
  margin-top: -157px;
  cursor: pointer;
}

.slider {
  width: 260px;
  height: 61px;
  background-color: #f3f3f3;
  padding: 3px 0;
  margin-top: 8px;
}

#slider-item {
  width: 55px;
  height: 55px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.158);
  cursor: pointer;
  transform: translateX(10px);
}

#slider-item:active {
  background-color: #eee;
}
