* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jiyan {
  padding: 11px;
  background-color: #fff;
  user-select: none;
}

#container,
#code {
  width: 260px;
  height: 160px;
}

#code {
  z-index: 9;
  position: fixed;
  margin-top: -160px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#tips-bar {
  position: absolute;
}

.slider {
  width: 260px;
  height: 61px;
  background-color: #f3f3f3;
  padding: 3px 0;
  margin-top: 8px;
}

#slider-item {
  width: 55px;
  height: 55px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.158);
  cursor: pointer;
  transform: translateX(10px);
}

#slider-item:active {
  background-color: #eee;
}

.jiyan-code-tips {
  width: 260px;
  background-image: linear-gradient(102deg, #63a9fc 17%, #2f66c6);
  color: #fff;
  font-size: 14px;
  padding: 6px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation-fill-mode: forwards;
}

.jiyan-code-tips.success {
  background-image: linear-gradient(102deg, #3cba92 17%, #0ba360);
}

.jiyan-code-tips.in {
  animation: fadeInUp 0.3s ease-in;
}

.jiyan-code-tips.out {
  animation: fadeOutDown 0.3s ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    display: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
